@import '~bootstrap/dist/css/bootstrap.min.css';
html{
  text-align: center;
}
#main-container {
  display: inline-block;
  max-width: 65em;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.flexb-container{
  display: flex;
  flex-wrap: wrap;
}

.flexb-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .flexb-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .flexb-column/**/ {
    flex: 100%;
    max-width: 100%;
  }
}
